*{
  margin: 0px;
  padding: 0px;
}
body{
	background-color: black;
	overflow-x: hidden;
}

body::-webkit-scrollbar{
	display: none;
}
/*___________HEADER DIVISION____________*/
#header{
	width: 100%;
	height: 50px;
	background-color: #0e0707;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0px 10px;
}
#himg1{
	width: 120px;
}
#himg2{
	width: 30px;
	padding: 3px 8px;
	border-bottom: 3px solid #68d5f0b5;
}
#himg3{
	width: 40px;
	height: 45px;
	margin-right: 25px;
	border-bottom: 2px solid orange;
	background-image: url('thanoshand.jpg');
	background-size: 100%;
	transition: 0s 2s;
}
#himg3:active{
	transition: 0s;
	background-image: url('thanoshand.gif');
	}

/*______AVENGERIMAGE MAIN BODY________*/
#avengerbody{
	width: 100%;
	height: 96vh;
	align-items: center;
	display: flex;
	flex-direction: column;
	background-image: url('avengerbg.jpg');
	background-size: 100% 100%;
	opacity: 1.0;
	transition-delay: 2.5s;
	transition-duration: 3s;
}
#about{
  display: none;
}

/*____________MAIN BODY_______________*/
#maindiv{
	width: 100%;
	height: 96vh;
	margin-top: -2px;
	align-items: center;
	display: flex;
	background-image: url('bg1.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	transition-duration: 3s;
	transition-delay: 2.5s;
	display: none;
}

/*__________LEFT ICON BAR____________*/
#leftbar{
	width: 2%;
	height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	background-color: rgba(255, 0, 0, 0.212);
}
#scrollup{
	width: 90%;
	height: 4%;
	margin-bottom: 50px;
	background-image: url('scrollup.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#scrolldown{
	width: 90%;
	height: 4%;
	margin-bottom: 20px;
	background-image: url('scrolldown.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#scrollup:hover{
	border: 1px solid red;
}
#scrolldown:hover{
	border: 1px solid red;
}

/*_____________MENU BAR_____________*/
#menubar{
	width: 25%;
	height: 100%;
	display: flex;
	flex-direction: column;
	overflow-y: scroll;
	margin-left: 8px;
}

#menubar::-webkit-scrollbar{
	display: none;
}

/*_____________MENU DIVISION________*/
.menu{
	width: 100%;
	min-height: 200px;
	margin-top: 15px;
	opacity: 0.5;
	background-repeat: no-repeat;
	background-size: 400px;
	animation: animatemenu 800ms 1 ease-out;
}

@keyframes animatemenu{
	0%{
		opacity: 0.0;
		margin-top: 100px;
	}
	100%{
		opacity: 0.5;
		margin-top: 15px;
	}
}



.menu:hover{
	width: 110%;
	border-left: 2px solid rgba(255, 0, 0, 0.815);
  	opacity: 1.0;
	transition-duration: 200ms;
}
.menupara{
	height: 20px;
	font-size: 18px;
	margin-top: 110px;
	margin-left: 20px;
	padding-left: 5px;
	border-left: 2px solid red;
	color: #cad5d7;
}
/*+++++++++++++NTH MENU ADD++++++++++*/
.menu:nth-child(1){
	background-image: url('Camerica.jpg');
	
}
.menu:nth-child(2){
	background-image: url('Ironman.jpg');
	
}
.menu:nth-child(3){
	background-image: url('Deadpool.jpg');
	
}
.menu:nth-child(4){
	background-image: url('Blackpanther.jpg');
	
}
.menu:nth-child(5){
	background-image: url('Loki.jpg');
	
}
.menu:nth-child(6){
	background-image: url('Thor.jpg');
	
}
.menu:nth-child(7){
	background-image: url('Thanos.jpg');
	
}
.menu:nth-child(8){
	background-image: url('Hulk.jpg');
	
}
.menu:nth-child(9){
	background-image: url('Dstrange.jpg');
	
}

/*___________CONTENT BAR_____________*/
.contentbar{
	width: 75%;
	height: 100%;
	align-items: center;
	display: flex;
	display: none;
}
#cont1{
	display: flex;
}

/*___________TEXT BAR_____________*/
.textbar{
	width: 75%;
	height: 100%;
	align-items: center;
	display: flex;
	flex-direction: column;
	background-color: rgba(255, 0, 0, 0.171);
}

/*_____________NAME BAR_____________*/
.namebar{
	width: 100%;
	height: 20%;
	display: flex;
	align-items: flex-end;
	padding-bottom: 10px;
}
.namepara1{
	font-size: 60px;
	font-weight: 800;
	color: #e0d7d7;
	margin-top: 50px;
	margin-left: 25px;
	padding: 0px 20px;
	background-color: rgba(255, 0, 0, 0.822);
	font-family: 'Gantari', sans-serif;
}
.namepara2{
  font-size: 50px;
	color: #e0d7d7;
	margin-top: 50px;
	margin-left: 14px;
  font-family: 'Gantari', sans-serif;
}
/*_____________DESC BAR_____________*/
.descbar{
	width: 100%;
	height: 100%;
	margin-top: 20px;
	overflow-y: scroll;
	animation: animate 600ms  1 ease-out;
}
.descbar::-webkit-scrollbar{
	display: none;
}
.descpara{
  min-height: 100%;
	font-size: 16px;
	margin-left: 25px;
	margin-bottom: 10px;
	padding-right: 25px;
	color: #e0d7d7;
	text-align: justify;
	font-family: 'Marvel', sans-serif;
}

@keyframes animate{
	0%{
		margin-top: 100px;
		opacity: 0.0;
	}
	100%{
		margin-top: 20px;
		opacity: 1.0;
	}
}

/*___________PHOTO BAR_____________*/
.photobar{
	width: 25%;
	height: 100%;
	margin-left: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.contentimg{
	width: 450px;
	animation: moveupdown 5s infinite linear;
}



@keyframes moveupdown{
	0%{
		margin-top: 50px;
	}
	50%{
		margin-top: -50px;
	}
	100%{
		margin-top: 50px;
	}
}

/*____________FOOTER_______________*/
#footer{
	width: 100%;
	height: 150px;
	background-color: black;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
#footer1{
	width: 25%;
	height: 100%;
}
#footer2{
	width: 30%;
	height: 100%;
	display: flex;
	margin-right: 40px;
	flex-direction: column;
	align-items: center;
}
#footer3{
	width: 20%;
	height: 100%;
}

.footer1para1{
	display: inline-block;
	font-size: 28px;
	color: white;
	margin-top: 20px;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-decoration-line: underline;
}
.footerpara{
	font-size: 14px;
	color: white;
	text-align: justify;
	margin-top: 10px;
	font-family: 'Marvel';
	font-weight: 100;
}
#footer a img{
	width: 25px;
	margin-left: -5px;
	margin-top: 5px;
	cursor: pointer;
}

#ytimg{
	margin-left: 10px;
	width: 30px;
}
#endfooter{
  width:100%;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: black;
}
#endfooter p{
	margin-left: 40px;
	color: white;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  	font-weight: 100;
}

@media only screen and (max-width:600px)
and (orientation: portrait){

body{
  width: 100%;
  overflow-x: hidden;
}
/*___________HEADER DIVISION___________*/
#header{
	width: 95%;
	height: 40px;
	background-color: #0e0707;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
#himg1{
	width: 80px;
}
#himg2{
	width: 20px;
	height: 22px;
	margin-right: 25px;
	border-bottom: 2px solid #68d5f0b5;
}
#himg3{
	margin-top: -4px;
	width: 28px;
	height: 28px;
	margin-right: 0px;
	border-bottom: 2px solid orange;
	background-image: url('thanoshand.jpg');
	background-size: 100%;
	transition: 0s 2s;
}
#himg3:active{
	transition: 0s;
	background-image: url('thanoshand.gif');
}

/*______AVENGERIMAGE MAIN BODY________*/
#avengerbody{
	width: 100%;
	height: 700px;
	align-items: center;
	display: flex;
	flex-direction: column;
	background-image: url('mobilebg.jpeg');
	background-size: 100% 100%;
	opacity: 1.0;
	transition-delay: 2.5s;
	transition-duration: 3s;
}

#about{
  opacity: 1;
  width: 95%;
  height: 25%;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(13,13,13,0.8);
  backdrop-filter: blur(2px);
  animation-name: round;
  animation-delay: 0s;
  animation-duration: 3s;
}

@keyframes round {
  0% {opacity:0.0;}
  100% {opacity: 1.0;}
}

.about1{
  width: 100%;
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.aboutimg{
  width: 30px;
  margin-right: 20px;
}
.aboutpara{
  font-size: 12px;
  color: #868686;
  font-family: Sans-Serif;
}

#marvelitepara{
  font-weight: 500;
  font-size: 26px;
	color: #ffffff;
	margin-left: 5px;
	background-color: rgb(255,58,58);
	padding: 0px 5px 0px 2px;
	font-family: sans-serif;
}

/*____________MAIN BODY_______________*/
#maindiv{
	width: 100%;
	height: 700px;
	margin-top: -1px;
	display: flex;
	flex-direction: column;
	background-image: url('appbg.jpeg');
	background-repeat: no repeat;
	background-size: 100% 100%;
	opacity: 1.0;
	transition-duration: 3s;
	transition-delay: 2.5s;
	display: none;
}

#leftbar{
  display: none;
}

/*_____________MENU BAR_____________*/
#menubar{
	width: 98%;
	height: 130px;
	display: flex;
	flex-direction: row;
	overflow-x: scroll;
	background-color: rgba(0,0,0,0.299);
	border-bottom: 2px solid black;
}


/*_____________MENU DIVISION________*/
.menu{
	min-width: 200px;
	height: 100%;
	opacity: 0.5;
	background-repeat: no-repeat;
	margin-right: 10px;
	margin-left: 5px;
}
.menu:hover{
  border-left: 2px solid red;
  opacity: 1.0;
	transition-duration: 200ms;
}
.menupara{
	height: 20px;
	font-family: sans-serif;
	font-size: 18px;
	margin-top: 10px;
	margin-left: 10px;
	padding-left: 2px;
	border-left: 2px solid red;
	color: #cad5d7;
}
/*+++++++++++++NTH MENU ADD++++++++++*/
.menu:nth-child(1){
	background-image: url('Camerica.jpg');
	background-size: 200px;
}
.menu:nth-child(2){
	background-image: url('Ironman.jpg');
	background-size: 200px;
}
.menu:nth-child(3){
	background-image: url('Deadpool.jpg');
	background-size: 200px;
}
.menu:nth-child(4){
	background-image: url('Blackpanther.jpg');
	background-size: 200px;
}
.menu:nth-child(5){
	background-image: url('Loki.jpg');
	background-size: 200px;
}
.menu:nth-child(6){
	background-image: url('Thor.jpg');
	background-size: 200px;
}
.menu:nth-child(7){
	background-image: url('Thanos.jpg');
	background-size: 200px;
}
.menu:nth-child(8){
	background-image: url('Hulk.jpg');
	background-size: 200px;
}
.menu:nth-child(9){
	background-image: url('Dstrange.jpg');
	background-size: 200px;
}

/*___________CONTENT BAR_____________*/
.contentbar{
	width: 100%;
	height: 80%;
	display: flex;
	flex-direction: column-reverse;
	overflow-y: scroll;
	display: none;
}
#cont1{
	display: none;
}
#cont2{
	display: flex;
}
/*___________PHOTO BAR_____________*/
.photobar{
	width: 50%;
	min-height: 130%;
	display: flex;
}
.contentimg{
	width: 330px;
	margin-left: -30px;
}



/*___________TEXT BAR_____________*/
.textbar{
	width: 100%;
	min-height: 110%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

/*_____________NAME BAR_____________*/
.namebar{
	width: 100%;
	height: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding-bottom: 10px;
	margin-top: 5px;
}
.namepara1{
	font-size: 36px;
	font-weight: 900;
	color: #e0d7d7;
	margin-left: 0px;
	padding: 0px 5px 0px 2px;
	border-bottom: 3px solid red;
}
.namepara2{
  font-size: 34px;
	color: #e0d7d7;
	margin-left: 20px;
}
/*_____________DESC BAR_____________*/
.descbar{
	width: 100%;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
}
.descpara{
  min-height: 1000px;
	font-size: 12px;
	margin-left: 20px;
	margin-bottom: 10px;
	color: #e0d7d7;
	text-align: justify;
}


/*____________FOOTER_______________*/
#footer{
	width: 100%;
	min-height: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #0e0707;
}
#footer1{
	width: 60%;
	height: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 0px;
}
#footer2{
	width: 70%;
	height: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-left: 50px;
}
#footer3{
	display: none;
}
.footer1para1{
	display: inline-block;
	font-size: 22px;
	color: white;
	margin-top: 0px;
}
.footerpara{
  margin-top: 4px;
	font-size: 10px;
	line-height: 12px;
	color: white;
	text-align: justify;
}
#endfooter{
  width:100%;
  height: 40px;
  margin-top: 10px;
  margin-left: -15px;
}



}